.navbar-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar {
  display: inline-flex;
  justify-content: right;
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar-item{
  padding: 20px;
}

.navbar-item:hover{
  background-color: blue;
}
