.about-me-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 50%;
}

.about-me-image-wrapper {
  margin: 0px 20px 0px 20px;
  position: relative;
  justify-content: right;
  text-align: right;
  margin-left: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1.6vw;
}

.about-me-content-text {
  text-align: justify;
  margin: 0px 10px 0px 10px;
}
