@import "./AboutMe.css";

.about-me-wrapper {
  display: inline-flex;
}

.about-me-text-container {
  display: flex;
}

.about-me-text {
  text-align: justify;
  width: 50%;
  margin-left: 5%;
  justify-content: center;
}

.about-me-image-wrapper {
  display: flex;
  margin: 1.6vw;
  margin-right: 25%;
}

.about-me-image {
  object-position: 50% 50%;
}
